$header-back-color: #175a7e;
$back-color: #86a5c5;
$utility-back: #c2d2e2;
$header-text-color: white;
$little-lighter: rgba(255, 255, 255, 0.2);
$more-lighter: rgba(255, 255, 255, 0.5);

body {
  background-color: $back-color;
}

.header {
  div {
    background-color: $header-back-color;
    color: $header-text-color;
    overflow: auto;

    h2 {
      display: inline-block;
      margin-bottom: 0;
      /*line-height: 1.5;*/
      transition: text-shadow 0.5s ease-out;

      @media screen and (max-width: 476px) {
        line-height: 1.5;
      }

      &:hover{
        text-shadow: $header-back-color 0 0 3px,
        $header-text-color 0 0 12px,
        $header-text-color 0 0 24px;
      }
    }

    a {
      float: right;
    }

    button {
      float: right;
    }
  }
}

main {
  color: $header-back-color;

  #stick {
    position: sticky;
    top: 0;
    z-index: 3;
    color: $header-text-color;

    p {
      margin-bottom: 0;
    }

    span {
      font-size: 1.0rem;
    }
  }

  .alert {
    background-color: $header-back-color;
  }

  div.col:first-child .card {
    background-color: #e6dcc1;
  }
  div.col:nth-child(2) .card {
    background-color: #e6d8e4;
  }
  div.col:last-child .card {
    background-color: #cae3e6;
  }

  summary {
    background-color: $little-lighter;
    border-radius: 0.25rem;
    height: 2.375rem;
    line-height: 2.25;
    list-style: none;
    padding: 0 0.75rem;

    :focus {
      outline-color: transparent;
      outline-width: 0;
      outline-style: none;
    }

    ::-webkit-details-marker {
      display: none;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      background-color: $little-lighter;
      border-bottom: 1px dotted $more-lighter;
      padding: 0 0.75rem  0.125rem;

      &:first-child{
        border-top: 1px dotted $more-lighter;
      }

      span.badge {
        background-color: $little-lighter;
        color: $header-back-color;

        &.refill {
          background-color: $more-lighter;
        }
      }
    }
  }

  form {
    .form-control{
      background-color: $more-lighter;
      color: $header-back-color;

      &[name="cash"] {
        color: $header-back-color;
        text-align: right;
        background-color: $little-lighter;
        border: 0;
      }

      &:focus {
        background-color: $header-text-color;
        box-shadow: 0 0 0 .25rem rgba(23,90,126,.25);
      }
    }

    &:nth-child(odd) {
      .container {
        background-color: $little-lighter;
      }
    }

    .input-group {
      button {
        background-color: $header-back-color;
        font-weight: bold;
        color: $header-text-color;
        transition: text-shadow 0.5s ease-out;

        &:hover{
          color: $header-text-color;
          text-shadow: $header-back-color 0 0 2px,
          $header-text-color 0 0 6px,
          $header-text-color 0 0 12px;
        }
      }
    }
  }

  .modal {
    .modal-content {
      .modal-header {
        background-color: $utility-back;
        padding: 0.625rem 1rem;

        .btn-close {
          background-size: 0.75em;
        }
      }

      .modal-body {
        background-color: $back-color;

        input{
          background-color: $more-lighter;
          color: $header-back-color;

          &:focus {
            background-color: $header-text-color;
            box-shadow: 0 0 0 .25rem rgba(23,90,126,.25);
          }
        }

        .form-text {
          color: #ffefbf;
        }

        .error {
          background-color: #ffefbf;
        }
      }

      .modal-footer {
        background-color: $back-color;
      }
    }
  }
}




